:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo.logo-header {
  color: #000000;
}

.logo.logo-footer {
  color: #ffffff;
}

.accent {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--primary-text-color);
}

.auth-nav .link {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* background-color використаний не зовсім вірно, просто щоб було видно білий текст */
.hero-section {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.btn {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefit-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.title-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-title-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

/* background-color використаний не зовсім вірно, просто щоб було видно білий текст */
.footer {
  background-color: var(--secondary-background-color);
}

.contact-list.list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.contact-address.link {
  color: #ffffff;
}

.contact-item.link {
  color: rgba(255, 255, 255, 0.6);
}

.primary-btn {
  color: var(--primary-text-color);
  background-color: rgb(227, 229, 226);
}

.primary-btn:hover,
.primary-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.potfolio-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
